* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Roboto, sans-serif;
}
/*Header-top*/
.header, .footer {
    background-color: #1F2937;
    height: 540px;
}

.header-container {
    display: flex;
    flex-direction: column;
    width: 1100px;
    margin: 0 auto;
}

.header-top {
    display: flex;
    justify-content: space-between;
    padding: 20px 0 100px;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
}

a {
    text-decoration: none;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 800;
}

.nav-links {
  list-style-type: none; /* Removes bullet points */
  display: flex;
  gap: 24px; /* Creates clean spacing between each individual link */
  margin: 0;
  padding: 0;
}

.nav-links a {
  text-decoration: none; /* Removes text underlines */
  color: #e5e7eb;
  font-size: 18px;
}
